<ion-header>

</ion-header>

<ion-content color="primary" class="ion-padding">
 

  
  
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center"size-md="6" size-lg="5" size-xs="12">
            <div class="ion-text-center">
                          <h3>APP NAME HERE</h3>
          </div>
          <div class="ion-padding">            <ion-item>
              <ion-input name="email" type="email" placeholder="your@alumnos.unican.es" pattern="([a-z,A-Z,0-9])+@alumnos.unican.es" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" pattern= "([a-z,A-Z,0-9]{6,20})" minlength= 6 ngModel required></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">        
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Inicio Sesion</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row> 
          <ion-col class="ion-align-self-center">    
         <div class="ion-text-center">
          ¿Aun no tienes cuenta? <a routerLink='/register'> Registrate ahora!</a>
          </div>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="ion-align-self-center">
         <div class="ion-text-center">
             <a routerLink='/forget-pass'>
          ¿Olvidaste tu contraseña?</a> 
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div class="ion-padding">
    <ion-button (click)='devlogin()' expand="block">
        <span style="text-transform: none">
          dev login
        </span></ion-button>
  </div>
</ion-content>

