<ion-header >
  <ion-toolbar   color="primary">
      <ion-title>
          Registro
      </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  color="primary">
    <div class="ion-padding">
      </div>
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Crea tu cuenta!</h3>
          </div>
          <div class="ion-padding">            
            <ion-item>
              <ion-input  name="name"  type="text" placeholder="Nombre de Usuario" pattern= "([a-z,A-Z, ]{1,20})" placeholder="Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="@alumnos.unican.es" pattern="([a-z,A-Z,0-9])+@alumnos.unican.es" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Contraseña" pattern= "([a-z,A-Z,0-9]{6,20})"  minlength= 6 ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="Confirmar Contraseña" pattern= "([a-z,A-Z,0-9]{6,20})" minlength= 6 ngModel required></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Registro</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
</ion-content>
