<ion-header >
    <ion-toolbar  color="primary">
        <ion-title>
            
        </ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<ion-content color="primary" class="ion-padding">

  
  <form #form="ngForm" (ngSubmit)="recoverPass(form)">
    <ion-grid>
        <ion-row color="primary" class="ion-justify-content-center">     
            <ion-col class="ion-align-self-center"size-md="6" size-lg="5" size-xs="12">
    <h3>
      Recuperar Contraseña
    </h3>
      </ion-col></ion-row>
        <ion-row color="primary" class="ion-justify-content-center">     
            <ion-col class="ion-align-self-center"size-md="6" size-lg="5" size-xs="12">
              <ion-text color="secondary">
        Recibiras un codigo en tu correo.
              </ion-text>

      </ion-col></ion-row>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center"size-md="6" size-lg="5" size-xs="12">
        
          <div class="ion-padding">          
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@alumnos.unican.es" pattern="([a-z,A-Z,0-9])+@alumnos.unican.es" ngModel required></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">        
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block"> Enviar</ion-button>
          </div>
        </ion-col>
      </ion-row>
      
      <!-- 
      <ion-row color="primary" class="ion-justify-content-center">     
          <ion-col class="ion-align-self-center"size-md="6" size-lg="5" size-xs="12">
              <div class="ion-padding">
                  <ion-button (click)='back()' >Atras</ion-button>
                </div>
        </ion-col>
      </ion-row>
      -->
    </ion-grid>
  </form>
</ion-content>
