<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Reservas
        </ion-title>

    </ion-toolbar>
</ion-header>


<ion-content color="primary">

    <form #form="ngForm" (ngSubmit)="reserve(form)">
        <ion-grid>
            <ion-row color="primary" class="ion-justify-content-center">
                <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                    <div class="ion-text-center">
                        <h3>Crea tu Reserva!</h3>
                        Vehiculo actual: {{mat}}
                    </div>
                </ion-col>
            </ion-row>


            <ion-row color="primary" class="ion-justify-content-center">
                <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                    <div class="ion-padding">
                        <ion-item>
                            <ion-input name="hours" type="text" placeholder="0..23" ngModel required></ion-input>
                        </ion-item>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row color="primary" class="ion-justify-content-center">
                <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                    <div class="ion-padding">
                        <ion-item>
                            <ion-input name="minutes" type="text" placeholder="0..59" ngModel required></ion-input>
                        </ion-item>
                    </div>
                </ion-col>
            </ion-row>


            <ion-row color="primary" class="ion-justify-content-center">
                <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                    <div class="ion-text-center">
                        <ion-button type="submit" [disabled]="form.invalid" expand="block">Crear</ion-button>
                    </div>
                </ion-col>
            </ion-row>

        </ion-grid>

    </form>





    <div class="ion-padding">
        <ion-button (click)='deleteReserve()' expand="block">
            <span style="text-transform: none">
                Borrar Reserva
            </span></ion-button>
    </div>


    <ion-card *ngIf="createdReserve">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        Estado: {{reserva.state}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        Matricula: {{reserva.mat}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        Hora: {{reserva.hours}}:{{reserva.minutes}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>


</ion-content>