<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="qr">
      <ion-icon name="qr-scanner"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="car"></ion-icon>
      <ion-label>Reservas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user">
      <ion-icon name="person"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
