
<ion-header >
        <ion-toolbar color="primary">
            <ion-title>
                Codigo QR
            </ion-title>
          
        </ion-toolbar>
      </ion-header>
    
<ion-content color="primary">
    <div class="ion-padding">
        <ion-button (click)='scanQr()' expand="block">
            <span style="text-transform: none">
              Escanear Codigo
            </span></ion-button>
      </div>
      <div class="ion-padding">
        <ion-button (click)='displayQr()' expand="block">
            <span style="text-transform: none">
              Mostrar Codigo 
            </span></ion-button>
      </div>

<ion-card *ngIf="createdCode">
<ngx-qrcode [(qrc-value)]="createdCode"></ngx-qrcode>
<ion-card-content>
    
</ion-card-content>
</ion-card>

</ion-content>
