<ion-header >
    <ion-toolbar   color="primary">
        <ion-title>
            Registro
        </ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content  color="primary">
  <form  #form="ngForm" (ngSubmit)="registerCode(form)">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Verifica tu cuenta!</h3>
          </div>
          <ion-text color="secondary">
           Encontraras el codigo en tu email 
          </ion-text>
          <div class="ion-padding">            <ion-item>
              <ion-input  name="code" type="text" placeholder="*****" ngModel required></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Send</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>

