<ion-header >
    <ion-toolbar  color="primary">
        <ion-title>
          Vehiculos  
        </ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  
  <ion-content  color="primary">
    <form #form="ngForm" (ngSubmit)="vehicle(form)">
      <ion-grid>
          <ion-row color="primary" class="ion-justify-content-center">
              <ion-col class="ion-align-self-center"size-md="6" size-lg="5" size-xs="12">
                <div class="ion-text-center">
                  <h3>Registra tu vehiculo!</h3>
                </div>
                <div class="ion-text-center">
                    <ion-text color="secondary">
                  Introduce tu matricula sin separadores
                    </ion-text>
                </div>
              </ion-col>
            </ion-row>
            <ion-row color="primary" class="ion-justify-content-center">
                <ion-col class="ion-align-self-center"size-md="6" size-lg="5" size-xs="12">
                    <div class="ion-padding">           
                      <ion-item>
                        <ion-input name="mat" type="text" placeholder="XX1234XX o 1234XXX" 
                         pattern="(([A-Z,a-z]{1,2})+([0-9]{4})+([A-Z,a-z]{1,2}))|(([0-9]{4})+([A-Z,a-z]{3}))" ngModel required></ion-input>
                      </ion-item>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row color="primary" class="ion-justify-content-center">
                  <ion-col class="ion-align-self-center"size-md="6" size-lg="5" size-xs="12">
                    <div class="ion-text-center">
                        <ion-button  type="submit" [disabled]="form.invalid" expand="block">Registrar</ion-button> 
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row color="primary" class="ion-justify-content-center">
                    <ion-col class="ion-align-self-center"size-md="6" size-lg="5" size-xs="12">
                      <div class="ion-text-center" *ngIf="mat" >
                          Matricula actual: {{mat}}
                      </div>
                    </ion-col>
                  </ion-row>
      </ion-grid>
      
    </form>
       
   
  </ion-content>
  