<ion-header >
    <ion-toolbar  color="primary">
        <ion-title>
            Contraseña
        </ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content color="primary" class="ion-padding">
<div class="ion-padding"> <h3>Cambiar Contraseña</h3> </div>
  
  <form #form="ngForm" (ngSubmit)="changePass(form)">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center"size-md="6" size-lg="5" size-xs="12">
            
          <div class="ion-padding">   
              <ion-item>
                  <ion-input name="password" type="password" placeholder="Contraseña" pattern= "([a-z,A-Z,0-9]{6,20})" minlength= 6 ngModel required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input name="newPassword" type="password" placeholder="Nueva Contraseña" pattern= "([a-z,A-Z,0-9]{6,20})" minlength= 6 ngModel required></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-input name="newPasswordConfirm" type="password" placeholder="Confirmar Contraseña " pattern= "([a-z,A-Z,0-9]{6,20})" minlength= 6 ngModel required></ion-input>
                    </ion-item>
          </div>
          <div class="ion-padding">        
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Enviar</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <!--
      <ion-row color="primary" class="ion-justify-content-center">     
          <ion-col class="ion-align-self-center"size-md="6" size-lg="5" size-xs="12">
              <div class="ion-padding">
                  <ion-button (click)='back()' >Atras</ion-button>
                </div>
        </ion-col>
      </ion-row>
    -->
    </ion-grid>
  </form>
</ion-content>
