<ion-header >
    <ion-toolbar color="primary">
        <div class="ion-center" >
        <ion-title >
            Mi Perfil 
        </ion-title>
        </div>
    </ion-toolbar>
  </ion-header>


<ion-content  color="primary">
  <div class="ion-padding">

    Bienvenido {{userName}}
  </div>
  <div class="ion-padding">
    <ion-button (click)='addVehicle()' expand="block">
        <span style="text-transform: none">
          Añadir Vehiculo
        </span>
        </ion-button>
  </div>
  <div class="ion-padding">
      <ion-button (click)='changePass()' expand="block" >
          <span style="text-transform: none">Cambiar Contraseña
          </span></ion-button>
  </div>
  <div class="ion-padding">
    <ion-button (click)='logout()' expand="block">
        <span style="text-transform: none">
          Cerrar sesion
        </span></ion-button>
  </div>

</ion-content>

